<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LastAccessedDate</key>
	<date>2024-01-03T11:06:11Z</date>
	<key>WorkspacePath</key>
	<string>/Users/neda/Desktop/SwiftUI-Weather/SwiftUI-Weather.xcodeproj</string>
</dict>
</plist>
